<!DOCTYPE html>
<html>
  <head>
    <% include ./_header %>
  </head>
  <body>
    <section class="section">
      <div class="container flex-container" style="width: 95%;">
        <h1 class="title is-3"><%= title %></h1>
        <div class="cards">
            <% projects.forEach(function(a) { %>
              <p>
                <a href="/projects/<%= a.id %>" style="font-size: 16px;"><%= a.title %></a>
              </p>
              <br />
            <% }) %>
        </div>
        <br />
        <br />
        <br />
        <br />
        <a href="/projects/new" class="button is-light">Add a Project</a>
      </div>
    </section>
  </body>
</html>
