<!DOCTYPE html>
<html>
  <head>
    <% include ./_header %>
  </head>
  <body>
    <section class="section">
      <div class="container flex-container" style="width: 95%;">
        <h1 class="title is-3"><%= title %></h1>
        <div class="cards">
            <% projects.forEach(function(a) { %>

                <a href="/projects/<%= a.id %>"><%= a.title %></a>
            <% }) %>
        </div>
        <a href="/projects/new">Add a Project</a>
      </div>
    </section>
  </body>
</html>
