<!DOCTYPE html>
<html>
  <head>
    <% include ./_header %>
  </head>
  <body>
    <section class="section">
      <div class="container flex-container" style="width: 95%;">
        <h1 class="title is-3">Add a New Project</h1>

        <form action="/projects" method="post">
          <div class="field">
            <label class="label">Project Name</label>
            <div class="control">
              <input class="input" type="text" name="title" placeholder="Project Name">
            </div>
          </div>

          <div class="field">
            <label class="label">GitHub URL</label>
            <div class="control">
              <input class="input" type="text" name="githubLink" placeholder="GitHub URL">
              <!-- <span class="icon is-small is-left">
                 <i class="fas fa-github"></i>
              </span> -->
            </div>
          </div>

          <div class="field">
            <label class="label">Project Description</label>
            <div class="control">
              <textarea class="textarea" name="description" placeholder="Enter your description here..."></textarea>
            </div>
          </div>

          <br />
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-dark">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
