<!DOCTYPE html>
<html>
  <head>
    <% include ./_header %>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <h2 class="title">
          <%= project.title %>
        </h2>
        <p style="font-size: 16px;"><%= project.description %></p>
      </div>
    </section>
  </body>
</html>
